node_modules/
dist/
.next/
out/
.turbo/
*.tsbuildinfo
.env
.env.local
.env.*.local
cdk.out/
cdk.out*/
coverage/
*.js.map
*.d.ts.map
.DS_Store
# next.js static export output
apps/web/out/
# Turborepo
.turbo
