@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 180 4% 11%;

    --card: 0 0% 100%;
    --card-foreground: 180 4% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 180 4% 11%;

    --primary: 263 70% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 270 30% 96%;
    --secondary-foreground: 180 4% 11%;

    --muted: 270 20% 95%;
    --muted-foreground: 270 10% 45%;

    --accent: 38 92% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 347 77% 50%;
    --destructive-foreground: 0 0% 100%;

    --success: 160 84% 39%;
    --success-foreground: 0 0% 100%;

    --border: 270 20% 92%;
    --input: 256 10% 81%;
    --ring: 263 70% 50%;

    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
