# CDK asset staging directory
.cdk.staging
cdk.out

# Dependency directories
node_modules/

# TypeScript compiled output
*.js
*.d.ts
!jest.config.js

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# CDK Context
cdk.context.json

# Build output
dist/
build/
